:root {
  --button-shadow: 0.1em 0.1em rgb(130, 128, 128);
  --off-white: rgb(249, 244, 236);
  --medium-gray: rgb(183, 185, 182);
  --dark-gray: rgb(75, 75, 75);
  --dark-shadow: rgb(48, 48, 48);
}

#container {
  background-color: rgb(199, 219, 250);
  padding: 4em 8em;
}

#mpc-body {
  text-align: center;
  background-color: var(--off-white);
  position: relative;
  margin: auto;
  padding: 1.5em;
  border: 1px solid rgb(175, 170, 158);
  border-radius: 5px;
  width: 45em;
  height: 35em;
  grid-template-columns: 50% 50%;
  box-shadow: 0 0 2.5em 0.1em rgb(170, 152, 136);
}

.button {
  box-shadow: var(--button-shadow);
  border: 1px solid var(--medium-gray);
  background-color: var(--off-white);
  border-radius: 2px;
}

/* left side of MPC */
#left-side {
  grid-template-rows: 25% 10% 30% 35%;
}

/* screen and display */
#screen {
  justify-self: center;
  background-color: rgb(37, 37, 37);
  height: 8em;
  width: 20em;
  display: grid;
  box-shadow: 0 0 1em 0.1em rgb(148, 148, 148);
}

#display {
  text-align: center;
  margin: auto;
  padding-top: 1em;
  background-color: var(--medium-gray);
  height: 6em;
  width: 12em;
}

#display-txt {
  text-align: center;
  margin-top: 0.5em;
  font-family: 'Cousine', sans-serif;
}

/* buttons under screen */
#button-line {
  grid-template-columns: 1/6;
  padding: 0.5em;
}

#button-line .button {
  display: inline-grid;
  background-color: var(--off-white);
  width: 2em;
  height: 0.8em;
  place-self: center;
  border: 1px solid var(--medium-gray);
}

/* middle panel with buttons and dial */
#mid-panel {
  grid-template-columns: 50% 50%;
  display: grid;
}

#button-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  padding: 0.5em;
}

.button-blue {
  background-color: rgb(14, 66, 113);
  border-radius: 2px;
  width: 2em;
  height: 1em;
  place-self: center;
  box-shadow: var(--button-shadow);
}

#dial-panel {
  grid-template-rows: 20% 80%;
  display: grid;
}

#dial-panel .button {
  display: inline-grid;
  width: 2em;
  height: 1em;
  margin: 1em;
}

#dial {
  background-color: var(--dark-gray);
  border-radius: 50%;
  height: 8em;
  width: 8em;
  margin: 0.5em auto;
  box-shadow: 0.2em 0.1em 0.1em 0.2em var(--dark-shadow);
}

#dial-inner-1 {
  border: 2px solid var(--dark-shadow);
  border-radius: 50%;
  height: 5.3em;
  width: 5.3em;
  margin-left: 2.9em;
  margin-top: -8em;
  box-shadow: 0 0 0.1em 0.1em var(--dark-shadow);
}

#dial-inner-2 {
  position: relative;
  background-color: rgb(85, 85, 85);
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  box-shadow: inset -0.2em 0.1em 0.3em 0.3em rgb(57, 57, 57);
  margin-left: 2.7em;
  margin-top: -6.5em;
}

/* bottom panel with slider and buttons */
#bottom-panel {
  display: grid;
  grid-template-columns: [first] 25% [line2] 15% [line3] 15% [line4] 15% [line5] 15% [line6] 15% [end];
  grid-template-rows: 50% 25% 25%;
  margin-top: 0.5em;
}

/* slider */
#slider {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
}

#slider-bar {
  background-color: var(--dark-gray);
  width: 0.3em;
  height: 9em;
  margin: 1.5em 0 0 3em;
  z-index: 0;
  position: absolute;
}

#slider-knob {
  position: absolute;
  width: 2.3em;
  height: 1.5em;
  background-color: var(--off-white);
  border: 1px solid rgb(120, 119, 119);
  z-index: 1;
  margin-top: 5em;
  margin-left: 1.95em;
  box-shadow: 0 0 0.2em 0.1em var(--medium-gray);
}

#slider-knob:hover {
  animation-name: slide;
  animation-duration: 2s;
}

@keyframes slide {
  33% {
    transform: translateY(-2em);
  }
  66% {
    transform: translateY(2em);
  }
}

#buttons-1 {
  grid-column-start: 2;
  grid-column-end: 4;
}

#buttons-1 .button {
  display: inline-grid;
  width: 2em;
  height: 1em;
  place-self: center;
  margin-top: 1.5em;
}

/* arrow selector */
#arrows {
  grid-column-start: 4;
  grid-column-end: 7;
}

#arrow {
  width: 4em;
  height: 3em;
  justify-self: center;
  margin: 1.5em auto;
}

/* 2nd to bottom row of buttons */
#buttons-t {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

#buttons-t .button {
  display: inline-grid;
  width: 2.3em;
  height: 0.8em;
  margin: 0.2em;
  place-self: center;
}

/* bottom row of buttons */
#buttons-b {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

#buttons-b .button {
  display: inline-grid;
  width: 2.3em;
  height: 1.7em;
  margin: 0.2em;
  place-self: end;
}

/* right side of MPC */
#right-side {
  grid-template-rows: 11% 24% 65%;
}

/* akai logo and MPC model */
#brand {
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  position: relative;
}

#akai {
  font: 2.5em 'Suez One', serif;
  color: rgb(228, 24, 79);
  place-self: center;
}

#akai-pro {
  font: italic lighter 0.8em 'Suez One', serif;
  color: rgb(228, 24, 79);
  justify-self: center;
}

#model {
  font: 1.5em 'Orbitron', sans-serif;
  color: rgb(116, 116, 114);
  place-self: center;
}

#underline {
  border-top: 3px solid black;
  padding-top: 0.5em;
  font: 0.7em 'Orbitron', sans-serif;
}

/* right side control panel */
#right-ctrl {
  background-color: var(--medium-gray);
  margin: 0.5em;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: auto;
  box-shadow: inset -1em 1em 2em 2em rgb(180, 180, 180);
}

#right-ctrl .button {
  width: 2.5em;
  height: 1.2em;
  place-self: center;
}

#right-ctrl .knob {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  justify-self: center;
  align-self: end;
  box-shadow: 0.3em 0.3em 0.1em 0.1em rgb(130, 128, 128);
}

/* drum pads  */
#pads {
  justify-self: stretch;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: rgb(197, 198, 197);
  padding: 0.5em;
  margin: 0.5em
}

.pad {
  background-color: rgb(163, 162, 162);
  text-align: center;
  place-self: stretch;
  margin: 0.25em;
  padding-top: 1.8em;
  border-radius: 3px;
  box-shadow: inset 0 0 0.5em var(--dark-gray);
  box-shadow: 2px 2px 0 var(--dark-gray);
}

/* button and key presses */
.pressed {
  transition-duration: 0.15s;
  transform: scale(0.92);
  transform: translateY(3px) translateX(1px);
  box-shadow: inset 0.1em 0.1em 0.6em 0.2em var(--dark-gray);
}

.btn-pressed {
  transform: translateY(2px) translateX(1px);
}

/* footer */
footer {
  font: 1em 'Dosis', sans-serif;
  padding-top: 2em;
  text-align: center;
}

/* modular properties */
.grid {
  display: grid;
}

.br-2 {
  border-radius: 2px;
}

.cousine {
  font-family: 'Cousine', monospace;
}

.bg-white {
  background-color: var(--off-white);
}

.bg-salmon {
  background-color: rgb(244, 139, 177);
}

.bg-orange {
  background-color: rgb(238, 182, 57);
}

.bg-red {
  background-color: rgb(162, 43, 43);
}

.sm-button {
  border: 1px solid rgb(183, 185, 182);
  box-shadow: var(--button-shadow);
}
